.card {
  //   width: 200px;
  background-color: #9edef9;
  border-radius: 1rem;

  padding: 0 1.5rem;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: medium;
    padding: 5px;
    background-color: #053e76;
    border-radius: 15px;
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  }
}

.card:hover {
  cursor: pointer;
  border: 3px dashed #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.rock {
  background-image: linear-gradient(to bottom right, rgb(255, 120, 120), white);
}
.ghost {
  background-image: linear-gradient(to bottom right, rgb(253, 253, 124), white);
}
.electric {
  background-image: linear-gradient(to bottom right, rgb(90, 155, 165), white);
}
.bug {
  background-image: linear-gradient(to bottom right, rgb(75, 75, 145), white);
}
.poison {
  background-image: linear-gradient(to bottom right, rgb(132, 154, 83), white);
}
.normal {
  background-image: linear-gradient(to bottom right, rgb(174, 89, 172), white);
}
.fairy {
  background-image: linear-gradient(to bottom right, rgb(94, 183, 140), white);
}
.fire {
  background-image: linear-gradient(to bottom right, rgb(195, 152, 104), white);
}
.grass {
  background-image: linear-gradient(to bottom right, rgb(144, 109, 218), white);
}
.water {
  background-image: linear-gradient(to bottom right, rgb(71, 112, 148), white);
}
